/notebooks
/build
/dist
__pycache__
.vscode
*.swp
.DS_Store
.mypy_cache/
/outputs
/cache
/data
/features_models
full_example.TextGrid
expected_full_example.csv
expected_actual_*.csv
resources
.ipynb_checkpoints
.idea/
.coverage
/misc
*.egg-info
draft_notebooks/
submitit_*/
